{% extends 'home/default.html' %}
{% block title %} Ajouter un administrateur {% endblock %}
{% block content %}
<div class="container mt-5">
    <h1> Ajouter un administrateur</h1>
    <div class="container">
        {% if message == 'error' %}
            <p class="alert alert-danger" role="alert">Tous les champs sont obligatoires.</p>
        {% elif message == 'Compte deja existant' %}
        <p class="alert alert-danger" role="alert">Ce compte existe déjà.</p>
        {% elif message == 'success' %}
            <p class="alert alert-success" role="alert">L'admin a bien été ajouté !</p>
        {% elif message == 'failure' %}
            <p class="alert alert-warning" role="alert">Une erreur est survenue, veuillez réessayer plus tard.</p>
        {% endif %}
    </div>
    <form action="{{ url_for('add_user') }}" method="POST" class="container">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Entrez le nom seulement" >
            <label for="nom" class="form-label">Nom :</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id= "username" name="username" placeholder="username" >
            <label for="username" class="form-label">Entrer le nom de l'utilisateur :</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="password" >
            <label for="password" class="form-label">Entrer un mot de passe :</label>
        </div>
        <button type="submit" class="btn btn-primary">Creer un nouveau administrateur</button>
    </form>
</div>
{% endblock %}
<!-- les champs required enlevé pour testé le message d'erreur-->